<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @note.title %>
</p>

<p>
  <b>Description:</b>
  <%= @note.body %>
</p>

<% @note.keys.each do |key, value| %>
<% next if ['_id', 'title', 'body'].include?(key) %>
<p>
  <b><%= key.capitalize %>:</b>
  <%= @note[key] %>
</p>
<% end %>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>

<pre>
<%= @note.to_mongo.to_s.gsub(/,/, ",\n") %>
</pre>
