<h1><%= t('listing_tickets') %></h1>

<table>
  <tr>
    <th><%= t('status') %></th>
    <th><%= t('name') %></th>
    <th><%= t('description') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.status.name %></td>
    <td><%= ticket.name %></td>
    <td><%= ticket.description %></td>
    <td><%= link_to t('show'), ticket %></td>
    <td><%= link_to t('edit'), edit_ticket_path(ticket) %></td>
    <td><%= link_to t('destroy'), ticket, confirm: t('are_you_sure'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('new_ticket'), new_ticket_path %>
