<p id="notice"><%= notice %></p>

<p>
  <b><%= t('status') %>:</b>
  <%= @ticket.status.nil? ? t('unknown') : @ticket.status.name %>
</p>

<p>
  <b><%= t('name') %>:</b>
  <%= @ticket.name %>
</p>

<p>
  <b><%= t('description') %>:</b>
  <%= @ticket.description %>
</p>


<%= link_to t('edit'), edit_ticket_path(@ticket) %> |
<%= link_to t('back'), tickets_path %>
