<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @ticket.status.nil? ? "Unknown" : @ticket.status.name %>
</p>

<p>
  <b>Name:</b>
  <%= @ticket.name %>
</p>

<p>
  <b>Description:</b>
  <%= @ticket.description %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
