<!DOCTYPE html>
<html>
<head>
  <title>Tickets</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nav">
    [ <a href="<%= tickets_path %>">Tickets</a> ]
    [ <a href="<%= translations_path %>">Translations</a> ]
    [ <a href="<%= notes_path %>">Notes</a> ]
    [ <a href="<%= about_path %>">About</a> ]
  </div>

<%= yield %>

</body>
</html>
